<sui-modal *ngIf="showQuestionModal" [mustScroll]="false"[isClosable]="true" [transitionDuration]="0" [size]="'large'"
    class="sb-modal" (dismissed)="onModalClose()" #modal>
    <div class="sb-modal-header">
        Preview of Questions
    </div>
    <div class="sb-modal-content"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="500"
        [infiniteScrollContainer]="selector1"
        (scrolled)="onScrollDown()"
        (scrolledUp)="onScrollUp()"
        [fromRoot]="true">
               
        <div *ngFor="let question of displayQuestionList; let questionNo = index" class="flex-dc mb-15">
            <div class="d-flex justify-content-start mb-10">
                <p class="question-alignment">
                    <span>Question {{questionNo+1}}:</span>
                    <span [innerHtml]="question.editorState.question"></span>
                </p>
            </div>
           <ng-container *ngIf="question.qType==='SA' ; else objectiveTypeQuestion">
                <div><span [innerHtml]="question.editorState.answer"></span></div>
           </ng-container>
            <div>
                <label>Status:
                <span [ngClass]="questionStatusMap[question.identifier]['styleClass']">
                  {{questionStatusMap[question.identifier]['status']}}
                </span>
                </label>

            </div>
            <ng-template #objectiveTypeQuestion>
                <div>
                    <div class="d-flex flex-jc-space-between mb-5">
                        <label>A:
                            <span [innerHtml]="question.editorState.options[0].value.body"></span>
                        </label>
                        <label>B:
                            <span [innerHtml]="question.editorState.options[1].value.body"></span>
                        </label>

                    </div>
                    <div class="d-flex flex-jc-space-between mb-5">
                        <label>C:
                            <span [innerHtml]="question.editorState.options[2].value.body"></span>
                        </label>
                        <label>D:
                            <span [innerHtml]="question.editorState.options[3].value.body"></span>
                        </label>

                    </div>
                </div>
            </ng-template>
        </div>   
    </div>
</sui-modal>
